<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/productDetails.css">
</head>
<body>
    <div class="card">
        <div class="left">
                <img src="<%= product.image %>" alt="">
            </div>
            <div class="right">
                <h1><%= product.title %></h1>
                
                <p> <strong>DESCRIPTION</strong> <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ex fugiat ipsam mollitia! Possimus quae eveniet illum aspernatur accusantium quam quia dolore adipisci error, id sint mollitia sed. Officia commodi facere nisi accusamus aliquam voluptatum necessitatibus. Voluptates, molestiae voluptas eius commodi et voluptatem, nulla suscipit explicabo corporis quisquam harum aspernatur libero odit architecto fugit provident. Rerum, repudiandae numquam placeat cupiditate molestiae enim esse maxime sequi mollitia nulla distinctio atque nesciunt sint in facere explicabo dolor quia incidunt aspernatur. Possimus voluptate modi numquam quisquam in minus. Quasi veniam nostrum, id, est quis voluptatum similique totam, obcaecati perferendis vitae facilis hic! Placeat, quasi quia velit dolor perspiciatis officia molestiae est nulla ipsam aliquid molestias temporibus corrupti aspernatur maxime animi dolore natus! Vero obcaecati veritatis laboriosam quidem molestias consectetur, neque, repellendus delectus in ratione hic fugit ducimus voluptatibus modi! Deleniti perferendis ipsa aspernatur fugiat facilis cupiditate adipisci quod illo. Veniam officia eos, suscipit odit voluptate nam illum itaque blanditiis libero, rerum tempora enim iure unde similique pariatur, modi quisquam rem beatae. Eius, fuga dicta inventore voluptates pariatur molestias quos libero? Obcaecati accusamus atque repellendus molestias nesciunt harum numquam libero! Ipsa quam ratione, sunt, aperiam eius placeat incidunt, quod quibusdam culpa nam nostrum voluptates? <%= product.description %></p>
                <p><%= product.category %></p>
                
                <h4> Price <br><%= product.price %></h4>
            </div>
            
    </div>
</body>
</html>